<div class="search">
  Поиск:
  <form novalidate>
    <div>
      Фамилия:
      <input name="lastName" [(ngModel)]="foundPerson.lastName"/>
    </div>
    <div>
      Имя:
      <input name="firstName" [(ngModel)]="foundPerson.firstName"/>
    </div>
  </form>
</div>

<div class="filter">
  Фильтрация:
  <form novalidate>
    <div>
      Фильтрация по дате рождения:
      <input name="dateFilter" type="checkbox" [(ngModel)]="dateFilter"/>
      <input
        name="dateBirth"
        type="date"
        [ngModel]="startBirth | date: 'yyyy-MM-dd'"
        (ngModelChange)="startBirth = parseDate($event)"
        #dateBirth="ngModel"
        required
      />-
      <input
        name="dateBirth"
        type="date"
        [ngModel]="endBirth | date: 'yyyy-MM-dd'"
        (ngModelChange)="endBirth = parseDate($event)"
        #dateBirth="ngModel"
        required
      />
    </div>
    <div>
      Фильтрация по среднему баллу:
      <input name="score" [(ngModel)]="scoreFilter"/>
    </div>
  </form>
</div>

<table class="tab">
  <tr>
    <th (click)="sortByFirstName()">Фамилия</th>
    <th (click)="sortByLastName()">Имя</th>
    <th (click)="sortByPatronymic()">Отчество</th>
    <th (click)="sortByDate()">Дата рождения</th>
    <th (click)="sortByScore()">Средний бал</th>
    <th>remove element</th>
  </tr>
  <tr *ngFor="let person of persons" [ngClass]="{found:found(person, foundPerson)}">
    <ng-container *ngIf="filter(person)">
      <td>{{person.lastName}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.patronymic}}</td>
      <td>{{person.dateBirth.toLocaleDateString()}}</td>
      <td>{{person.score}}</td>
      <td><button name="removeElem" (click)="openRemoveDialog(person)">remove</button></td>
    </ng-container>
  </tr>
</table>

<div id="app-add-person">
  Добавить пользователя (снятие галочки включает редактирование)?
  <input name="addOrRemake" type="checkbox" [(ngModel)]="addPersonFlag"/>
</div>


<app-add-person *ngIf="addPersonFlag" (addSubmit)="addPerson(newPerson)" [newPerson]="newPerson"></app-add-person>
<app-add-person *ngIf="!addPersonFlag" (addSubmit)="remakePerson(newPerson)" [newPerson]="newPerson"></app-add-person>
